// required to get $orange variable
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "ngx-bootstrap/datepicker/bs-datepicker.css";

$primary: #201747; // set the $primary variable
$primary-with-opacity: #36267eed; // set the $primary variable

// merge with existing $theme-colors map
$theme-colors: map-merge(
    $theme-colors,
    (
        "primary": $primary,
        "primary-with-opacity": $primary-with-opacity,
    )
);
/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";
@import "@mdi/font/css/materialdesignicons.min.css";
* {
    font-family: "roboto";
    font-weight: 400;
    font-style: normal;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    z-index: 1;
}
