.user-message,
.assistant-message {
    display: flex;
}

.message-content {
    direction: rtl;
    letter-spacing: normal;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    width: 85%;
    position: relative;
    word-break: break-word;
    white-space: pre-wrap;
}

#citation-content {
    text-align: justify;
}

.message-content a {
    display: block;
}

.message-content .icon-with-title {
    margin-top: 1rem;
    direction: ltr;
}

.message-content {
    text-align: right;
}

.user-message {
    justify-content: end;
}

.user-message .message-content {
    background: var(--bs-primary);
    color: var(--bs-white);
    border-top-right-radius: 0;
}

.user-message .message-content:after {
    content: "";
    position: absolute;
    right: -12px;
    top: 0;
    background: var(--bs-primary);
    width: 12px;
    height: 12px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.assistant-message {
    justify-content: start;
}

.assistant-message .message-content {
    background: var(--bs-gray-300);
}

.assistant-message .message-content:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    background: var(--bs-gray-300);
    width: 12px;
    height: 12px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.error-message {
    margin-top: 1.5rem;
    width: 100%;
    background: var(--bs-danger);
    color: var(--bs-white);
    .message-content {
        direction: ltr;
    }
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    z-index: 1;
}
::ng-deep .chat-bot-audio-recorder {
    display: block;
    width: 28px;
    height: 28px;
    .mic-container {
        position: relative;
        top: -4px;
    }
}
