<div class="d-flex flex-column align-items-center">
    <div
        class="card col-12 col-md-6"
        [ngClass]="{
            fullscreen: fullScreen,
        }"
        [style]="
            'min-height: 300px; ' +
            (!fullScreen ? 'height: calc(100vh - 90px - 6rem);' : '')
        "
    >
        <div
            class="card-header d-flex justify-content-between align-items-center"
        >
            <span>
                <i class="text-primary mdi mdi-robot-happy mdi-24px"></i>
                ChatGPT Demo
            </span>
            <button
                class="btn btn-outline-primary"
                (click)="fullScreen = !fullScreen"
            >
                <i
                    class="mdi mdi-arrow-expand-all"
                    [ngClass]="{
                        'mdi-arrow-expand-all': !fullScreen,
                        'mdi-arrow-collapse-all': fullScreen
                    }"
                ></i>
            </button>
        </div>
        <div
            class="text-center card-body overflow-auto"
            #chat_body
            [style]="!fullScreen ? 'max-height: 100%' : ''"
        >
            @if(!this.service.messageHistory.length) {
            <small class="fw-bold"> Let's chat with me to help you. </small>
            }
            <div class="chat-container" #chat_container>
                @for(message of this.service.messageHistory; track
                message.content) {
                <div [class]="'message ' + message.role + '-message'">
                    <div
                        class="message-content"
                        [ngClass]="{
                            rtl: isRTL(message.content),
                            ltr: !isRTL(message.content)
                        }"
                    >
                        @if(message.role === 'assistant') {
                        <span TextWriterAnimator [text]="message.content">
                        </span>
                        } @else {
                        <span [innerHtml]="message.content"> </span>
                        } @if(message.context &&
                        message.context.citations.length) {
                        <div>
                            <div
                                class="icon-with-title"
                                (click)="linkRef.hidden = !linkRef.hidden"
                            >
                                <i
                                    class="mdi"
                                    [ngClass]="{
                                        'mdi-chevron-down': linkRef.hidden,
                                        'mdi-chevron-up': !linkRef.hidden
                                    }"
                                ></i>
                                <span class="title">References</span>
                            </div>
                            <div #linkRef hidden>
                                @for(link of message.context.citations; track
                                link.filepath) {
                                <div dir="auto">
                                    <div class="d-inline">
                                        <small class="px-1 text-primary">
                                            doc {{ $index + 1 }}
                                            <i class="mdi mdi-link-variant"></i
                                        ></small>
                                    </div>
                                    <a
                                        class="d-inline citation-link"
                                        style="cursor: pointer"
                                        (click)="openDocModal(docModal, link)"
                                        >{{ link.filepath }}</a
                                    >
                                </div>
                                }
                            </div>
                        </div>
                        }
                    </div>
                </div>
                }
            </div>
            @if(this.service.loading) {
            <div class="loading-text">
                <app-loading></app-loading>
            </div>
            }
        </div>
        <div class="card-footer">
            <form id="message-form">
                <div class="input-group">
                    <div class="input-group-append">
                        <div class="me-2">
                            <audio-recorder
                                class="chat-bot-audio-recorder me-2"
                                [disabled]="
                                    service.loading ||
                                    aiSpeechToTextService.loading
                                "
                                [isProcessing]="aiSpeechToTextService.loading"
                                (onRecordReady)="handleSpeechToText($event)"
                                (onStopRecording)="stopRecording()"
                            ></audio-recorder>
                        </div>
                    </div>
                    <input
                        type="text"
                        id="user-message"
                        [formControl]="control"
                        class="form-control-sm form-control rounded-0 rounded-start"
                        placeholder="Type your message..."
                    />
                    <div class="input-group-append">
                        <button
                            class="rounded-0 rounded-end btn btn-sm btn-primary"
                            [disabled]="
                                this.service.loading ||
                                aiSpeechToTextService.loading
                            "
                            (click)="ask$.next()"
                            type="button"
                        >
                            <i class="mdi mdi-send"></i>
                        </button>
                        <button
                            id="clear-chat"
                            type="button"
                            (click)="clear()"
                            class="btn btn-sm btn-outline-secondary ms-2"
                        >
                            Clear
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-template #docModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Citation Details</h4>
        <button
            type="button"
            class="btn-close close pull-right"
            aria-label="Close"
            (click)="modalRef?.hide()"
        >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="overflow-wrap: break-word">
        <p style="text-align: justify">{{ selectedDoc.content }}</p>
        <strong>Link to document: </strong
        ><a [href]="selectedDoc.url" target="_blank">
            {{ selectedDoc.filepath }}
        </a>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            (click)="modalRef?.hide()"
        >
            Close
        </button>
    </div>
</ng-template>
