<div
    style="z-index: 3"
    class="h-100 position-relative d-flex flex-column justify-content-center align-items-center"
>
    <h1 class="text-white p-5">Welcome to Ebla AI Search</h1>
    <h5 class="text-white mb-3">
        Empowering Insights, Unleashing Intelligence!
    </h5>

    <form style="width: 600px">
        <div class="input-group mb-5">
            <input
                type="text"
                [formControl]="control"
                class="form-control"
                placeholder="Search..."
            />
            <div class="input-group-prepend">
                <button
                    [disabled]="this.service.loading"
                    type="button"
                    (click)="search$.next()"
                    class="rounded-0 rounded-end btn btn-secondary text-white"
                >
                    <i class="mdi mdi-magnify"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="container py-3">
    <span class="badge bg-secondary">Search: "{{ searchKeyWord }}"</span>
    <span class="badge bg-secondary ms-2">Results: {{ results.length }}</span>
    <div class="pt-3">
        @if(this.service.loading) {
        <div class="loading-text text-white">
            Processing....<i class="mdi mdi-pen"></i>
        </div>
        }
        <ul class="list-group">
            @for(search_result of results; track search_result.chunk_id) {
            <li
                class="list-group-item py-3"
                style="text-align: right"
                dir="rtl"
            >
                <a
                    href="{{ search_result.metadata_storage_path }}"
                    target="_blank"
                    >{{ search_result.title }}</a
                >
                @if(search_result['@search.highlights']) {
                @if(search_result['@search.highlights']['merged_content'].length
                > 0) {
                <div>
                    @for(highlight of
                    search_result['@search.highlights']['merged_content']; track
                    highlight) {
                    <p>{{ highlight }}</p>
                    }
                </div>
                } @if(search_result['@search.highlights']['imageCaption'].length
                > 0) {
                <div>
                    @for(highlight of
                    search_result['@search.highlights']['imageCaption']; track
                    highlight) {
                    <p>Image caption: {{ highlight }}</p>
                    }
                </div>
                } }
                <div class="mt-3 mb-1" style="text-align: justify">
                    {{ search_result.chunk }}
                </div>
                <div>
                    <span class="badge bg-primary"
                        ><strong>Score: </strong>
                        {{ search_result["@search.score"] }}</span
                    >
                    <span class="badge bg-primary me-2"
                        ><strong>Reranker Score: </strong>
                        {{ search_result["@search.reranker_score"] }}</span
                    >
                </div>
            </li>
            }
        </ul>
    </div>
</div>
