<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Ebla AI Search</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='node_modules/@mdi/font/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>
        .main-bg {
            position: relative;
            background: #8A1538 url("{{ url_for('static', filename='images/background.png') }}");
            background-size: cover;
        }
    </style>
</head>
<body class="h-100">
<div class="text-white hero-section h-100">
    <div class="position-relative h-100"
         style="background-attachment: fixed; background-image: url({{ url_for('static', filename='images/ebla-ai-search.jpg') }}); background-size: cover">
        <div class="overlay position-absolute" style="z-index: 2; background-color: #00000090"></div>
        <div style="z-index: 3"
             class="h-100 position-relative d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-icon rounded-circle py-1 position-absolute mt-3" style="left: 40px; top: 15px">
                <a href="/">
                    <i style="font-size: 40px" class="text-white mdi mdi-arrow-u-left-top"></i>
                </a>
            </button>
            <h1 class="p-5">Welcome to Ebla AI Search</h1>
            <h5 class="mb-3">Empowering Insights, Unleashing Intelligence!</h5>

            <form style="width: 600px" name="search_form" action="/search-action" method="GET">
                <div class="input-group mb-5">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-primary text-white"
                                style="border-top-right-radius: 0; border-bottom-right-radius: 0"><i
                                class="mdi mdi-magnify"></i>
                        </button>
                    </div>
                    <input name="search" dir="rtl" type="text" class="form-control" value="{{ search_terms }}"
                           placeholder="Search..."/>
                </div>
            </form>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
</body>
</html>
