<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-styles.css') }}"> 
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='images/ebla_logo.jpg') }}" alt="Ebla Computer Consultancy Logo" class="logo">
        </div>
        <div class="icon-container-wrapper">
            <div class="icon-container">
                <a href="/search" class="icon-link">
                    <div class="icon search-icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <p>Search</p>
                </a>
            </div>
            <div class="icon-container">
                <a href="/chat" class="icon-link">
                    <div class="icon chat-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <p>Chat</p>
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>
