{% extends "base.html" %}
{% block content %}
<div class="container py-3">
    <span class="badge bg-secondary">Search: {{ search_terms }}</span>
    <span class="badge bg-secondary">Results: {{ search_results.get_count() }}</span>
    <div class="pt-3">
        <ul class="list-group">
            {% for search_result in search_results: %}
            <li class="list-group-item py-3" style="text-align: right" dir="rtl">
                <a href="{{ search_result['metadata_storage_path'] }}" target="_blank">{{ search_result['title'] }}</a>
                {% if search_result['@search.highlights'] is defined %}
                {% if search_result['@search.highlights']['merged_content']|length > 0 %}
                <div>
                    {% for highlight in search_result['@search.highlights']['merged_content']: %}
                    <p>{{ highlight|safe }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% if search_result['@search.highlights']['imageCaption']|length > 0 %}
                <div>
                    {% for highlight in search_result['@search.highlights']['imageCaption']: %}
                    <p> Image caption: {{ highlight|safe }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endif %}
                <div class="mt-3 mb-1" style="text-align:justify">
                    <strong>Content: </strong> {{ search_result['chunk'] }}
                </div>
                <div>
                    <span class="badge bg-primary"><strong>Score: </strong> {{ search_result['@search.score'] }}</span>
                    <span class="badge bg-primary"><strong>Reranker Score: </strong> {{ search_result['@search.reranker_score'] }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
