{% extends "base.html" %}
{% block content %}<hr/>
<div class="searchBoxForm">
<form >
    <p>Search:{{ search_terms }}</p>
    <p>Results:{{ search_results.get_count() }}</p>
    
</form>
</div>
{% for search_result in search_results: %}
<div class="result">
    <p class="resultLink"><a href="{{ search_result['metadata_storage_path'] }}" target="_blank">{{ search_result['title'] }}</a></p>
    {% if search_result['@search.highlights'] is defined %}
        {% if search_result['@search.highlights']['merged_content']|length > 0 %}
            <div>{% for highlight in search_result['@search.highlights']['merged_content']: %} <p class='resultExtract'>{{ highlight|safe }}</p> {% endfor %}</div>
        {% endif %}
        {% if search_result['@search.highlights']['imageCaption']|length > 0 %}
            <div>{% for highlight in search_result['@search.highlights']['imageCaption']: %} <p class='resultExtract'>Image caption: {{ highlight|safe }}</p> {% endfor %}</div>
        {% endif %}
    {% endif %}
    <ul class="resultAttributes">
        <li><strong>Content: </strong>   {{ search_result['chunk'] }}</li>
        <li><strong>Score: </strong>   {{ search_result['@search.score'] }}</li>
        <li><strong>Reranker Score: </strong>   {{ search_result['@search.reranker_score'] }}</li>
    </ul>

</div>
{% endfor %}
{% endblock %}
