<div class="container py-5">
    <div class="row">
        @for(service of services; track service.id) {
        <div class="mx-auto col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h5 class="m-0 me-auto">
                        {{ service.title }}
                    </h5>
                    <i
                        [class]="
                            'text-primary mdi mdi-24px mdi-' + service.icon
                        "
                    ></i>
                </div>
                <div class="card-body">
                    <p style="font-size: 14px; text-align: justify">
                        {{ service.description }}
                    </p>
                    <button
                        [routerLink]="service.route"
                        class="d-block w-100 btn btn-outline-primary btn-sm px-4"
                    >
                        Try it out
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
</div>
